body{
    background-color: #fafafa;
}

.hpan{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.max{
    width: 100%;
    justify-content: space-evenly;
}

.busqueda{
    flex-grow: 2;
}

.addContainer{
    flex-grow: 1;
}

.content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.logoContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    width: 100%;
    height: auto;
}

.card{
    width: 450px;
}

.card:hover{
    background-color: #e3f2fd ;
}

.footerContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}

.modal-content{
    padding: 0 !important;
    height: 100%;
}

.top{
    background-color: #1a3967;
    padding: 1rem;
    text-transform: uppercase;
    color: #fff;
}

.close{
    text-align: right;
    position: absolute;
    right: 0;
    margin-top: -3rem;
}

.modal{
    height: 70% !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cuerpomod{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

.cuerpomode{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

.prod{
    flex-grow: 2;
    width: 100%;
}

.striped{
    border: 2px solid #D0D0D0;
}

.ticket{
    margin: 0 auto;
    width: 450px;
    border: 1px solid #000;
}